@font-face{
    font-family: stark;
    src: url(Fonts/Stark.otf);
}
@font-face{
    font-family: magra;
    src: url(Fonts/Magra.ttf);
}
@font-face{
    font-family: arvo;
    src: url(Fonts/Arvo.ttf);
}
body{
    /*background-image:url(BackgroundRepeat.png);
    background-repeat:repeat;
    background-position:0% 0%;
    background-attachment:fixed;*/
    background-color:#f0f0f0;
    font-family:stark;
}
a{
    text-decoration:none;
    color:inherit;
}
c{
    font-family:arvo;
    margin-left:.1em;
}
y{
    font-family:magra;
}
#header{
    margin-top:-.6em;
    margin-left:-.55em;
    height:3em;
    width:100.05%;
    position:absolute;
    background-color:#234ed4;
}
#subHeader{
    width:64em;
    height:3em;
    margin-left:auto;
    margin-right:auto;
    background-color:transparent;
    overflow:hidden;
    position:relative;
}
#headerLeft{
    float:left;
    width:20em;
    height:3em;
    margin-left:1em;
    margin-right:auto;
    background-color:transparent;
    position:relative;
    z-index:1;
    text-align:center;
}
#pixelLogo{
    width:20em;
    margin-top:.28em;
    cursor:pointer;
}
#headerRight{
    width:42em;
    height:3em;
    float:left;
    margin-left:0em;
    background-color:transparent;
}
.clicky{
    text-align:center;
    margin-top:.3em;
    font-size:1.4em;
    background-color:transparent;
    border:none;
    color:black;
    cursor:pointer;
    margin-left:.6em;
    margin-right:.3em;
}
.clicky:hover{
    opacity:.7;
}
.buttonImg{
    height:1.5em;
}
#bubble{
    background-color:transparent;
    height:auto;
    width:62em;
    margin-top:2.75em;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    bottom:1em;
}
#leftMain{
    height:24.6em;
    /*DMC:24.72em*/
    /*MC:24.6em*/
    /*BB:27.5em*/
    width:20em;
    background-color:#7cbdeb;
    float:left;
    z-index:100;
    color:black;
}
#define{
    font-size:1.466em;
    /*DMC & MC:1.512em*/
    /*BB:27.5em*/
    text-align:justify;
    margin-top:.3em;
    margin-left:.3em;
    margin-right:.3em;
}
#topMain{
    height:3em;
    width:42em;
    float:right;
    background-color:#234ed4;
    text-align:center;
    color:black;
}
#mainT{
    text-align:center;
    margin-top:-.1em;
    font-size:2.7em;
    font-family:magra;
}
#mainA{
    font-size:.6em;
    font-family:magra;
}
#rightMain{
    height:auto;
    width:42em;
    float:right;
}
#animationGif{
    width:100%;
}
#bottomMain{
    height:auto;
    width:inherit;
    background-color:#234ed4;
    float:right;
    margin-right:0em;
    margin-top:0em;
    /*DMC & MC:0*/
    /*BB:-.3em*/
}
#newPicsImg{
    margin-left:.5em;
    margin-top:0em;
    height:2em;
}
.bottomImages{
    width:11.99625em;
    vertical-align: middle;
    margin-left:.1em;
    margin-right:.1em;
    float:center;
    cursor:pointer;
}
.bottomTallImages{
    height:13.71em;
    vertical-align: middle;
    margin-left:.1em;
    margin-right:.1em;
    float:center;
    cursor:pointer;
}
#footerMain{
    font-family:magra;
    color:white;
    height:auto;
    width:100%;
    background-color:#7cbdeb;
    float:right;
    margin-right:0em;
    margin-top:-.2em;
}
#topFooter{
    text-align:center;
    color:black;
    margin-top:.5em;
}
#socialMedia{
    margin-left:auto;
    margin-right:auto;
    width:23em;
    height:2.5em;
    margin-top:.5em;
    margin-bottom:.5em;
}
.socialButtons{
    width:2.5em;
    height:2.5em;
    margin-left:.3em;
    margin-right:.3em;
    margin-bottom:.25em;
}
.socialButtons:hover{
    transform:scale(1.4);
}
#footer{
    text-align:center;
    text-decoration:none;
    margin-bottom:.5em;
}
// NIU
#subFoot{
    color:black;
    font-size:1em;
    display:inline-block;
    margin-left:.5em;
    margin-right:.5em;
    margin-bottom:.25em;
}
#subFoot:hover{
    color:#234ed4;
    cursor:pointer;
}
// NIU
#copyright{
    margin-bottom:.5em;
    font-family:arvo;
    color:#234ed4;
    font-weight:bold;
}

#Gallery{
}
#galleryMain{
    margin-left:auto;
    margin-right:auto;
    background-color:#234ed4;
    height:auto;
}
.title{
    margin-left:0em;
    font-size:3em;
    font-family:arvo;
    margin-top:.2em;
    text-align:center;
}
.galleryImages{
    width:25em;
    margin-left:18.6em;
    cursor:pointer;
}
#largeImgDiv{
    text-align:center;
    display:none;
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(35, 78, 212, 0.5);
    cursor:pointer;
}
.pixelImages{
    width:24.64%;
    cursor:pointer;
    position:relative;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.pixelLongImages{
    width:49.76%;
    cursor:pointer;
    position:relative;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.pixelTallImages{
    width:24.64%;
    cursor:pointer;
    position:relative;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.galleryBox{
    width:60em;
    height:4.5em;
    position:relative;
    cursor:pointer;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.gallerySubBox{
    width:52em;
    height:auto;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
.subGalleryBox{
    width:52em;
    height:4.5em;
    position:relative;
    cursor:pointer;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.gallerySpace{
    width:100%;
    height:1em;
}
.Logos{
    height:100%;
}
.spacerBox{
    width:52em;
    height:1.125em;
    position:relative;
    cursor:pointer;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#MartyBox{
    background-color:#07061F;
}
#CNBox{
    background-color:#00aceb;
}
#BenBox{
    background-color:#127429;
}
#ScoobyBox{
    background-color:#ffffff;
}
#CNSpace{
    background-color:#00aceb;
}
#DisneyBox{
    background-color:#194da6;
}
#AliceBox{
    background-color:#ffffff;
}
#HiroBox{
    background-color:#c72023;
}
#DChannelBox{
    background-color:white;
}
#GravityBox{
    background-color:#9c8a46;
}
#PerryBox{
    background-color:#ffee00;
}
#WanderBox{
    background-color:black;
}
#PrincessBox{
    background-color:#cf4a9a;
}
#LandBox{
    background-color:#ffffff;
}
#FantasiaBox{
    background-color:#382e73;
}
#StitchBox{
    background-color:white;
}
#LoneBox{
    background-color:#a0acae;
}
#MaryBox{
    background-color:#192685;
}
#MickeyBox{
    background-color:#ffffff;
}
#PeterBox{
    background-color:#0E154A;
}
#PirateBox{
    background-color:#b87d2a;
}
#TronBox{
    background-color:black;
}
#PoohBox{
    background-color:white;
}
#DisneySpace{
    background-color:#194da6;
}
#DCBox{
    background-color:white;
}
#WhoBox{
    background-color:#113a85;
}
#FriendsBox{
    background-color:black;
}
#FutureBox{
    background-color:#073F5D;
}
#GhostBox{
    background-color:black;
}
#PotterBox{
    background-color:black;
}
#IndianaBox{
    background-color:#572e17;
}
#ITBox{
    background-color:#000000;
    cursor: not-allowed;
}
#JurassicBox{
    background-color:black;
}
#MarvelBox{
    background-color:#e80202;
}
#SHIELDBox{
    background-color:#121425;
}
#AntBox{
    background-color:#000000;
}
#AvengerBox{
    background-color:#0e3c45;
}
#AvengerSpace{
    background-color:#0e3c45;
}
#CaptainBox{
    background-color:#122552;
}
#IronBox{
    background-color:#b32023;
}
#SpiderBox{
    background-color:#06192b;
}
#ThorBox{
    background-color:#000000;
}
#DefenderBox{
    background-color:#3f3f40;
}
#GuardianBox{
    background-color:#040417;
}
#XMenBox{
    background-color:black;
}
#MarvelSpace{
    background-color:#e80202;
}
#OfficeBox{
    background-color:#ffffff;
}
#PixarBox{
    background-color:#9bbede;
}
#CarsBox{
    background-color:#ba0003;
}
#CocoBox{
    background-color:black;
}
#IncredBox{
    background-color:#991900;
}
#NemoBox{
    background-color:#2B65EC;
}
#IncBox{
    background-color:white;
}
#ToyBox{
    background-color:white;
}
#WalleBox{
    background-color:#0b3578;
}
#PixarSpace{
    background-color:#9bbede;
}
#SeinfeldBox{
    background-color:white;
}
/*fcd720*/
#SWBox{
    background-color:black;
}
#IPeopleBox{
    background-color:#6960EC;
}
#HeadBox{
    background-color:#d4a923;
}
#IPSpace{
    background-color:#6960EC;
}
#OCharactersBox{
    background-color:#7cbdeb;
}
#OProjectsBox{
    background-color:#194da6;
}
/*#ScoobyText{
    font-family:scooby, stark;
    font-size:4em;
    color:#6d2b8f;
    text-shadow: 
    3px 3px 0 #FAAA55,
    -3px 3px 0 #FAAA55,
    3px -3px 0 #FAAA55,
    -3px -3px 0 #FAAA55,
    0px 3px 0 #FAAA55,
    0px -3px 0 #FAAA55,
    -3px 0px 0 #FAAA55,
    3px 0px 0 #FAAA55,
    1px 1px 0 #FAAA55,
    -1px 1px 0 #FAAA55,
    1px -1px 0 #FAAA55,
    -1px -1px 0 #FAAA55,
    0px 1px 0 #FAAA55,
    0px -1px 0 #FAAA55,
    -1px 0px 0 #FAAA55,
    1px 0px 0 #FAAA55,
    3px 1px 0 #FAAA55,
    -3px 1px 0 #FAAA55,
    3px -1px 0 #FAAA55,
    -3px -1px 0 #FAAA55,
    1px 3px 0 #FAAA55,
    -1px 3px 0 #FAAA55,
    1px -3px 0 #FAAA55,
    -1px -3px 0 #FAAA55;
}*/

.text{
    margin-top:.4em;
    margin-left:.4em;
    margin-right:.6em;
    font-size:1.38em;
}

#Projects{
}
#projectsMain{
    margin-left:auto;
    margin-right:auto;
    background-color:#234ed4;
    height:auto;
    text-align:center;
}
.developer{
    text-decoration:none;
    color:white;
    font-size:inherit;
}
.developer:hover{
    color:#7cbdeb;
}
#projectImg{
    width:20%;
    margin-left:.5em;
    margin-right:.5em;
}
#BT1Main{
}

 #Tutorial{
}
#tutorialMain{
    margin-left:auto;
    margin-right:auto;
    background-color:#234ed4;
    height:auto;
}
#tutorialTitle{
    margin-left:.5em;
    margin-bottom:-.3em;
    font-family:magra;
    color:white;
}

.one{
    list-style-type: square;
    cursor:pointer;
    background:white;
    margin-bottom:.5em;
    margin-left:auto;
    margin-right:auto;
    font-size:1.5em;
    text-align:center;
    width:20em;
    color:#234ed4;
}
.one:hover{
    background:#7cbdeb;
    color:#194da6;
}
.two{
    font-size:.9em;
}
thetaP{
    cursor:text;
}

#Contact{
}
#contactLogo{
    height:1em;
    margin-bottom:-.05em;
}
#contactMain{
    margin-left:auto;
    margin-right:auto;
    background-color:#234ed4;
    height:auto;
    text-align:center;
}
#copyEmail{
    cursor:text;
}
.contactText{
    font-size:2.3em;
    vertical-align:middle;
    /*cursor:pointer;*/
}
.contactIcons{
    width:1.5em;
    margin-bottom:-.4em;
}
#sMessage1{
    font-size:1.2em;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:30em;
}